/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: montserrat;
    src: url(/fonts/Montserrat-VariableFont_wght.ttf);
  }
  
  
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
  
  
  :root {
  --header-height: 56px;
  
  
  --main-color: rgba(0,0,186,1);
  --main-color-light: rgba(0,0,186,50);
  --main-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);
  
  
  --body-font: "Montserrat";
  --normal-font-size: 15px;
  
  --font-regular: 400;
  --font-semi-bold: 600;
  
  --z-tooltip: 10;
  --z-fixed: 100;
  }
  
  
  @media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 16px;
  }
  }
  
  
  
  * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  }
  
  
  body {
  background-color: #ECF3F9;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: var(--body-color); */
  }
  
  ul {
  list-style: none;
  }
  
  a {
  text-decoration: none;
  }
  
  
  .container {
  max-width: 1120px;
  margin-inline: 24px;
  }
  
  .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--main-color);
  -webkit-box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
          box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
  z-index: var(--z-fixed);
  }
  
  .nav {
  height: var(--header-height);
  }
  
  .nav__logo, 
  .nav__burger, 
  .nav__close {
  color: var(--white-color);
  }

  #drop {
    color: white;
  }
  
  .nav__data {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  }
  
  .nav__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
  font-size: 45px;
  font-weight: var(--font-semi-bold);
  }
  
  .nav__logo i {
  font-weight: initial;
  font-size: 20px;
  }
  
  .nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
  }
  
  .nav__burger, 
  .nav__close {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: opacity .1s, -webkit-transform .4s;
  transition: opacity .1s, -webkit-transform .4s;
  -o-transition: opacity .1s, transform .4s;
  transition: opacity .1s, transform .4s;
  transition: opacity .1s, transform .4s, -webkit-transform .4s;
  }
  
  .nav__close {
  opacity: 0;
  }
  
  @media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    height: calc(100vh - 56px);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: top .4s, opacity .3s;
    -o-transition: top .4s, opacity .3s;
    transition: top .4s, opacity .3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--main-color);
    padding-top: 16px;
  }
  }
  
  .nav__link {
  color: var(--white-color);
  background-color: var(--main-color);
  font-weight: var(--font-semi-bold);
  padding: 2px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
  }
  
  .nav__link:hover {
  background-color: var(--main-color-light);
  }
  
  .show-menu {
  opacity: 1;
  top: 56px;
  pointer-events: initial;
  }
  
  .show-icon .nav__burger {
  opacity: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  }
  .show-icon .nav__close {
  opacity: 1;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  }
  
  .dropdown__item {
  cursor: pointer;
  }
  
  .dropdown__arrow {
  font-size: 20px;
  font-weight: initial;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  -o-transition: transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  }
  
  .dropdown__link, 
  .dropdown__sublink {
  padding: 20px;
  color: var(--white-color);
  background-color: var(--main-color-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  font-weight: var(--font-semi-bold);
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
  }
  
  .dropdown__link i, 
  .dropdown__sublink i {
  font-size: 20px;
  font-weight: initial;
  }
  
  .dropdown__link:hover, 
  .dropdown__sublink:hover {
  background-color: var(--main-color);
  }
  
  .dropdown__menu, 
  .dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .4s ease-out;
  -o-transition: max-height .4s ease-out;
  transition: max-height .4s ease-out;
  }
  
  .dropdown__item:hover .dropdown__menu, 
  .dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  -webkit-transition: max-height .4s ease-in;
  -o-transition: max-height .4s ease-in;
  transition: max-height .4s ease-in;
  }
  
  .dropdown__item:hover .dropdown__arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  }
  
  .dropdown__add {
  margin-left: auto;
  }
  
  .dropdown__sublink {
  background-color: var(--main-color-lighten);
  }
  
  @media screen and (max-width: 340px) {
  .container {
    margin-inline: 16px;
  }
  
  .nav__link {
    padding-inline: 16px;
  }
  }
  
  
  @media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }
  
  .nav {
    height: calc(var(--header-height) + 32px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 48px;
       -moz-column-gap: 48px;
            column-gap: 48px;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-column-gap: 4px;
       -moz-column-gap: 4px;
            column-gap: 4px;
  }
  .nav__link:hover {
    background-color: transparent;
  }
  
  .dropdown__item, 
  .dropdown__subitem {
    position: relative;
  }
  
  .dropdown__menu, 
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 96px;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity .3s, top .3s;
    -o-transition: opacity .3s, top .3s;
    transition: opacity .3s, top .3s;
  }
  
  .dropdown__link, 
  .dropdown__sublink {
    padding-inline: 16px 56px;
  }
  
  .dropdown__subitem .dropdown__link {
    padding-inline: 16px;
  }
  
  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: 8px;
  }
  
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 88px;
    pointer-events: initial;
    -webkit-transition: top .3s;
    -o-transition: top .3s;
    transition: top .3s;
  }
  
  
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    -webkit-transition: top .3s;
    -o-transition: top .3s;
    transition: top .3s;
  }
  }
  .image-slideshow {
	width: 600px;
    height: 300px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
    /* flex: 1 0 400px; */
}
.image-slideshow > div {
	width: 600px;
    height: 300px;
	-webkit-animation: move 15s ease-in-out 2s infinite alternate;
	        animation: move 15s ease-in-out 2s infinite alternate;
    display:inline-block;
}
.image-slideshow > div div {
	position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    width: 100%;
}
.image-slideshow h2 {
	padding: 15px;
    margin: 0;
    font-size: 18px;
    color: #f9f9f9;
}
.image-slideshow p {
	padding: 0 15px 15px 15px;
    margin: 0;
    font-size: 14px;
    color: #dddddd;
}
@-webkit-keyframes move {
	0%,30% { -webkit-transform: translateX(0); transform: translateX(0); }
   	40%,70% { -webkit-transform: translateX(-600px); transform: translateX(-600px); }
   	80%,100% { -webkit-transform: translateX(-1200px); transform: translateX(-1200px); }
}
@keyframes move {
	0%,30% { -webkit-transform: translateX(0); transform: translateX(0); }
   	40%,70% { -webkit-transform: translateX(-600px); transform: translateX(-600px); }
   	80%,100% { -webkit-transform: translateX(-1200px); transform: translateX(-1200px); }
}

.body {
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    align-items: center;
}

#meet {
    width: 542px;
    color: black;
    text-shadow: rgba(0,0,186,1) 2px 3px;
    font-family: montserrat;
    font-style: normal;
    line-height: 60px;
    letter-spacing: 0.2px;
    font-family: montserrat;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
}

h5 {
    color: blue;
    font-family: montserrat;
    font-style: normal;
    letter-spacing: 0.2px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;

}

h4 {
    color: white;
    font-family: montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}




.meet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 573px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 30px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 400px;
            flex: 1 0 400px;
}

footer {
  background: rgb(0,0,0);
  position: absolute;
  bottom: 0PX;
  padding-bottom: 30px;
  width: 1536px;
  background: rgb(0,0,0);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(53%, rgba(0,0,0,1)), to(rgba(0,0,186,1)));
  background: -o-linear-gradient(top, rgba(0,0,0,1) 53%, rgba(0,0,186,1) 100%);
  background: linear-gradient(180deg, rgba(0,0,0,1) 53%, rgba(0,0,186,1) 100%);
}

.footer2 a {
  text-decoration: none;
  color: white;
  align-items: center;
  margin: 2px;
}
.footer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white; 
}

#footerH1 {
  text-shadow: rgba(0,0,186,1) 3px 3px;
}

.longLine {
  border: solid 0.5px;
  color: white;
}
.footer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer {
  margin-top: 20px;
  margin-bottom: px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@import url(https://fonts.googleapis.com/css?family=Poiret+One);

.icon-btn {
border: 0;
color: #FFFFFF;
width: 45px;
  height: 45px;
  font-size: 35px;
border-radius: 45px;
display: inline-block;
margin: 5px;
  padding: 5px;
}
.twitter {
color: #4099FF;
}
.facebook {
color: #3B5998;
}
.instagram {
color: black;
  background-clip: text;
  -webkit-background-clip: text;
  background: rgb(175,0,255);
  background: -o-linear-gradient(283deg, rgba(175,0,255,1) 0%, rgba(255,27,16,1) 27%, rgba(192,202,27,1) 100%);
  background: linear-gradient(167deg, rgba(175,0,255,1) 0%, rgba(255,27,16,1) 27%, rgba(192,202,27,1) 100%);
}
.github {
color: #4183C4;
}
.icon-btn:hover {
-webkit-transform: scale(1.10);
    -ms-transform: scale(1.10);
        transform: scale(1.10);
color: #FFFFFF;
}
.twitter:hover {
background-color: #4099FF;
}
.facebook:hover {
background-color: #3B5998;
}
.instagram:hover {
background-color: #5c342e;
}
.github:hover {
background-color: #4183C4;
}


.nasa {
  margin-top: 100px;
}

.aboutMe {
  margin-top: 100px;
  margin-left: 50px;
  font-family: var(--body-font);
}

.paris {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.resultParis {
  color: black;
}